*.o
acidwarp-linux
acidwarp.js
acidwarp.wasm
acidwarp.html
acidwarp.html.mem
test_tables
test_tables.exe
stdout.txt
stderr.txt
acidwarp.ico
acid_ico.c
acidwarp.rgb
worker.js
worker.wasm
worker.js.mem
/bin
/build
.idea/**

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
libmain.so
libmain.dylib
Makefile
CLAUDE.md

*.snap
